<component name="libraryTable">
  <library name="springframework.spring.tx" type="repository">
    <properties maven-id="org.springframework:spring-tx:6.1.5" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-tx/6.1.5/spring-tx-6.1.5.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.1.5/spring-beans-6.1.5.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.1.5/spring-core-6.1.5.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.1.5/spring-jcl-6.1.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>